.header {
    background-color: red;
    text-align: center;
    width:100vh;
}

.footer {
    background-color: blue;
    text-align: center;
    width:100vh;
}

.Screen{
    height:100vh;
    width:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}